In [ ]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point, Polygon

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path_to_xls = '/content/drive/MyDrive/df.xls'
ais = pd.read_excel(path_to_xls)

init = '2020-07-06 17:14:35'
fine = '2020-07-06 17:15:02'

ais = ais[(ais['timestamp'] > init) & (ais['timestamp'] < fine)]
ais = ais.reset_index()
ais = ais.drop('index', axis=1)
ais.head(3)

            timestamp       mmsi  longitude  ...  dim_d  draught  mmsi_valid
0 2020-07-06 17:14:36  247316200  10.038257  ...    4.0      4.8           1
1 2020-07-06 17:14:36  247227600   9.547657  ...   13.0      2.5           1
2 2020-07-06 17:14:36  227017200   7.878168  ...    3.0      4.2           1

[3 rows x 17 columns]

### Read default

In [ ]:
style = 'symbol:pin; fill:#0000ff; fill-opacity:0.7; stroke:#ffffff; stroke-opacity:1.0; stroke-width:0.5'
text = None
dateTime = None

# Create GeoDataframe

In [ ]:
SHP = gpd.GeoDataFrame(columns = ['style_css', 'label', 'text', 'dateTime', 'geometry'])

for i in range(len(ais)):

    label = ais['mmsi'][i]
    lat, lon = ais['latitude'][i], ais['longitude'][i]
    coordinates = [(lon, lat)]
    geometry = Point(coordinates)

    new_row = {'style_css':style, 'label':label, 'text':text, 'dateTime':dateTime, 'geometry':geometry   }
    SHP = SHP.append(new_row, ignore_index=True)
    
SHP

                                             style_css  ...                   geometry
0    symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...  POINT (10.03826 43.57868)
1    symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (9.54766 44.16554)
2    symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (7.87817 43.63813)
3    symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (9.74277 44.02827)
4    symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (9.48062 43.04811)
..                                                 ...  ...                        ...
285  symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...  POINT (10.29067 43.47236)
286  symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (8.08285 43.71192)
287  symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...  POINT (10.34929 42.82843)
288  symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...  POINT (10.24034 43.85690)
289  symbol:pin; fill:#0000ff; fill-opacity:0.7; st...  ...   POINT (9.69195 44.02267)

[290 rows x 5 columns]

# Save Esri ShapeFile

In [ ]:
%cd /content/drive/MyDrive
!mkdir esri_shp_files
%cd esri_shp_files

/content/drive/MyDrive
/content/drive/MyDrive/esri_shp_files

In [ ]:
SHP.to_file('navi.shp')